Demo_TexturedTriangle/Debug/
*.filters
*.user
Debug/
*.suo
*.db
*.opendb
*.plog
Demo_TexturedTriangle/Release/Demo_Tex.C6A5DFA2.tlog/CL.command.1.tlog
Demo_TexturedTriangle/Release/
SoftGL/Release/
Release/
